[submodule "backend"]
	path = backend
	url = https://github.com/LedgerProject/safepkt_backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/LedgerProject/safepkt_frontend
[submodule "vscode-plugin"]
	path = vscode-plugin
	url = https://github.com/LedgerProject/safepkt_vscode-plugin
[submodule "termination-analysis-of-the-borrow-checker-of-rust"]
	path = termination-analysis-of-the-borrow-checker-of-rust
	url = https://github.com/LedgerProject/safepkt_paper
[submodule "smart-contract-example"]
	path = smart-contract-example
	url = https://github.com/LedgerProject/safepkt_smart-contract-example
[submodule "rust-verification-tools"]
	path = rust-verification-tools
	url = https://github.com/LedgerProject/safepkt_rust-verification-tools
