[submodule "backend"]
	path = backend
	url = https://github.com/LedgerProject/safepkt_backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/LedgerProject/safepkt_frontend
[submodule "vscode-plugin"]
	path = vscode-plugin
	url = https://github.com/LedgerProject/safepkt_vscode-plugin
